body {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  height: 100vh;
  background-color: #333333;
}




paper-tabs {
  margin: 20px 0px 0px 0px;
  color: blue;
}

paper-tabs h1 {
  text-transform: uppercase;
  padding: 1vmax 1vmax 1vmax 1vmax;
  font-size: 3vmax;
  font-weight: 300;
}


paper-tabs .core-selected h1 {
/*      background-color: #1BC255;*/
      background-color: white;
      color: white;
      font-weight: 700;
}



/*.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*/