:host {
  display: block;
   padding: 20px;
   margin: 0px 5px 10px 5px;
   border-bottom: 1px solid rgba(0,0,0,0.1);
   width: 85vw;
    max-width: 400px;
/*    box-shadow: 1px 1px 4px rgba(0,0,0,0.05);*/
   background-color: white;
}





h1 {
	text-transform: uppercase;
	font-weight: 900;
	margin: -5px  0px  0px  0px;
  color: rgba(0,0,0,0.35);
  font-size: 4vh;
}


h3 {
	font-weight: 700;
   color: #E84310;
	margin: 10px  0px  10px  0px;
}

p {
	margin: 10px  0px  5px  0px;
	padding: 0px  0px  0px  0px;
		color: #666666;

}

svg {
  display: block;
  fill: #F0BEAF;
  height: 10px;
  overflow: hidden;
  width: 20px;
}

svg.highlight {
  fill: #E84310;
}


#info {
	padding-right: 20px;
}


#voterij {
}