:host {
  display: block;
  	 margin-bottom: 3.5vh;
  	 	 border-bottom: 3px solid  #E84310;


}


#vrstlbtn {
	background-color:  rgba(0,0,0,0.075);
	 padding: 20px 5px 20px 5px;
	 text-align: center;
   	 width: 85vw;
     max-width: 400px;
	 margin-top: 2vh;
/*	 box-shadow: 4px 4px 0px  rgba(0,0,0,0.025);
*/	 color: #333333;
	 text-transform: uppercase;
	 font-weight: 900;
	 font-size: 3vh;
}



#vrstlbtn:hover {
	background-color: #333333;
	color: white;
}



#submitbtn {
	 padding: 20px 5px 20px 5px;
	 text-align: center;
	 margin-top: 4vh;
	 margin-bottom: 4vh;
	 color: #E84310;
	 text-transform: uppercase;
	 font-weight: 900;
	 font-size: 3vh;
	 background-color:rgba(0,0,0,0.075);
	 width: 80%;
}


#submitbtn:hover {
	 background-color: rgba(0,0,0,0.95);
}




.collapse-content {
	padding-top: 2vh;
	background-color: rgba(0,0,0,0.075);
}



input {
	padding: 10px;
	width: 78%;
	min-height: 3vh;
	font-size: 2vh;
	border: none;
	margin: 5px 0px 5px 0px;
}

#descr {
	height: 14vh;
}
