:host {
  display: block;
   padding: 20px;
   margin-bottom: 10px;
   border-bottom: 2px solid rgba(255,255,255,0.1);
   width: 85vw;
   background-color: #EB2A10;
}


h1 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0px  0px  0px  0px;
/*   -webkit-text-stroke: 1px #A81841;*/
   color: white;
  font-size: 4vh;


/*   text-shadow:
       1px 1px 0 #A81841,
       2px 3px 0px rgba(0,0,0,0.2);*/
}


h3 {
  color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-size: 4vh;
      font-weight: 700;

      margin: 0px  0px  0px  0px;

}


small {
	font-weight: 900;
	color: white;
}


.klok {
  opacity: 0.2;
  height: 
}