:host {
  display: block;
   padding: 20px;
   margin: 0px 5px 10px 5px;
   border-bottom: 1px solid rgba(0,0,0,0.1);
   width: 85vw;
    max-width: 400px;
/*    box-shadow: 1px 1px 4px rgba(0,0,0,0.05);*/
   background-color: white;
}


h1 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0px  0px  0px  0px;
/*   -webkit-text-stroke: 1px #A81841;*/
   color: #E84310;
  font-size: 4vh;


/*   text-shadow:
       1px 1px 0 #A81841,
       2px 3px 0px rgba(0,0,0,0.2);*/
}


h3 {
  color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 3.25vh;
      font-weight: 700;

      margin: 0px  0px  0px  0px;

}


small {
	font-weight: 900;
	color: white;
}


.klok {
  opacity: 0.2;
}